{% if site.data.publications %}
<section class="section publications-section">

  <h2 class="section-title"><i class="fa fa-file-text"></i>Publications</h2>

  {% if site.data.publications.intro %}
  <div class="intro">
      <p>{{ site.data.publications.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for publication in site.data.publications.publications %}
    <div class="item">
      <div>
        <div class="publication-title"><a href="{{ publication.link }}">{{ publication.title }}</a></div>
        <div class="publication-meta" style="display: inline">
          [<a href="{{ publication.doi }}">DOI</a>]
          [<a href="{{ publication.bib }}">BibTex</a>]
        </div>
      </div>
      <div class="publication-conference">{{ publication.authors }}</div>
      <div class="publication-authors">{{ publication.conference }}</div>
    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
